@font-face {
    font-family: 'SoDoSans-BlackItalic';
    src: url(SoDoSans-BlackItalic.woff2);
    font-family: 'SoDoSans-Bold';
    src: url(SoDoSans-Bold.woff2);
    font-family: 'SoDoSans-BoldItalic';
    src: url(SoDoSans-BoldItalic.woff2);
    font-family: 'SoDoSans-Italic';
    src: url(SoDoSans-Italic.woff2);
    font-family: 'SoDoSans-Light';
    src: url(SoDoSans-Light.woff2);
    font-family: 'SoDoSans-LightItalic';
    src: url(SoDoSans-LightItalic.woff2);
    font-family: 'SoDoSans-Regular';
    src: url(SoDoSans-Regular.woff2);
    font-family: 'SoDoSans-SemiBold';
    src: url(SoDoSans-SemiBold.woff2);
    font-family: 'SoDoSans-SemiBoldItalic';
    src: url(SoDoSans-SemiBoldItalic.woff2);
    font-family: 'SoDoSans-Thin';
    src: url(SoDoSans-Thin.woff2);
    font-family: 'SoDoSans-ThinItalic';
    src: url(SoDoSans-ThinItalic.woff2);
    font-family: 'SoDoSans-Black';
    src: url(SoDoSans-Black.woff2);
}
* {
    margin: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    font-size: 14px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
    position: relative;
    z-index: 2;
}
.navbar-left svg {
    width: 50px;
    margin-right: 20px;
}
.navbar-left div {
    text-transform: uppercase;
    font-family: 'SoDoSans-Bold', Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.navbar-left div:hover {
    color: #00754a;
    cursor: pointer;
}
.navbar-left, 
.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}
.find-a-store {
    display: flex;
    align-items: center;
    font-family: 'SoDoSans-Bold', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.sign-in, 
.join-now {
    font-family: 'SoDoSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 7px 16px 7px 16px;
}
.join-now {
    background-color: #000;
    color: #fff;
}
.join-now:hover, 
.sign-in:hover, 
.find-a-store:hover,
.product-button:hover {
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
.product-left img {
    height: auto;
    object-fit: contain;
    max-width: 100%;
}
.product-container {
    margin: 0px 0px 30px 0px;
}
.product {
    display: flex;
}
.product-left,
.product-right {
    max-width: 50%;
    width: 50%;
}
.product-right {
    margin: auto;
    padding: 32px 16px;
}
.product-title {
    text-align: center;
    margin: auto;
    font-family: 'SoDoSans-Light', Helvetica, Arial, sans-serif;
    font-size: calc(1.0875rem + 1.05vw);
    color: #00754a;
    width: 100%;
}
.product-description {
    text-align: center;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 30px;
    font-family: 'SoDoSans-Light', Helvetica, Arial, sans-serif;
    font-size: calc(1.0188rem + .2256vw);
    font-weight: 400;
    line-height: 1.5;
    color: #00754a;
}
.product-button {
    text-align: center;
    margin: auto;
    font-family: 'SoDoSans-SemiBold', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #00754a;
    max-width: max-content;
    padding: 7px 16px 7px 16px;
    border-radius: 40px;
    color: #00754a;
    margin-bottom: 30px;
}